@use './../utils' as *;


.appMain {
  display: grid;
  @include paddingX(20px);
  @include paddingY(16px);

  @include mobile {
    @include gridbox(1, 100%, 16px);
  }
  
  @include desktop {
    @include containerMax();
    @include gridbox(12, 1fr, 16px, 20px);
    @include autoMargin();
    grid-template-areas: 
    "news news news news news news news news news news news news"
    "book book book book twitter twitter twitter twitter twitter favorite favorite favorite"
    "book book book book . board board board board board board board";

    .news {
      grid-area: news;
    }
    
    .book {
      grid-area: book;
    }
    
    .twitter {
      grid-area: twitter;
    }
    
    .board {
      grid-area: board;
    }
    
    .favorite {
      grid-area: favorite;
    }
  }
}

.news {
  @at-root .iframeWrapper {
    @include ratio(16, 9);
  }
}

.book {
  &__cover {
    width: 70%;
    @include autoMargin;
    text-align: center;
  }

  &__coverImage {
    @include paddingY(10px);
  }

  &__info {
    @include flexbox($justify: center, $wrap: wrap);
    column-gap: rem(8px);
    margin-bottom: 10px;
  }

  @at-root .ratingStar {
    width: 100%;
    text-align: center;
    font-size: rem(24px);
  }
}

.board {
  position: relative;

  &__item {
    @include flexbox();
    column-gap: rem(8px);
    @include marginY(8px);
  }

  &__more {
    @include posRightTop();
  }

  &__link {
    flex-grow: 1;
    @include textOver;
  }

  &__date {
    white-space: nowrap;
  }
}

.twitter {
  &__userProfile {
    @include ratio(1, 1);
  }
  
  &__userProfileImage {
    @include respons(width, 100%);
    border-radius: 50%;
    @include fit(cover, 50%, 50%)
  }
}