@use './../utils' as *;


.appMain {
  display: grid;
  @include paddingX(20px);
  @include paddingY(16px);

  @include mobile {
    @include gridbox(1, 100%, 16px);
    // grid-template-columns: 100%;
    // grid-template-rows: auto;
    // row-gap: 16px;
  }
  
  @include desktop {
    @include containerMax();
    @include gridbox(12, 1fr, 16px, 20px);
    // grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: auto;
    @include autoMargin();
    // row-gap: 16px;
    // column-gap: 20px;
    grid-template-areas: 
    "news news news news news news news news news news news news"
    "book book book book twitter twitter twitter twitter twitter favorite favorite favorite"
    "book book book book . board board board board board board board";

    .news {
      grid-area: news;
    }
    
    .book {
      grid-area: book;
    }
    
    .twitter {
      grid-area: twitter;
    }
    
    .board {
      grid-area: board;
    }
    
    .favorite {
      grid-area: favorite;
    }
  }
}

// .sprite{
//   min-height:rem(60px);
//   padding-left:rem(64px);
//   background-image:url(../images/sprite_main.png);
//   background-repeat:no-repeat;
//   font-weight: 700;
//   font-size: rem(18px);
//   @include flexbox(column, center);

//   [class*="enTitle"] {
//     font-size: rem(16px);
//     font-weight: 400;
//   }

// }
// .spriteBook{
//   background-position:0 0
// }
// .spriteBoard{
//   background-position:0 -115px
// }
// .spriteNews{
//   background-position:0 -230px
// }
// .spriteFavorite{
//   background-position:0 -345px
// }
// .spriteTwitter{
//   background-position:0 -460px
// }

// .accentBook {
//   color:#abd375
// }
// .accentNews {
//   color:#e8ca58
// }
// .accentBoard {
//   color:#988574
// }
// .accentFavorite {
//   color:#eea60a
// }
// .accentTwitter {
//   color:#6aaee6
// }