@use "./../utils" as *;

//메인 내비게이션
.menu {
  @include mobile {
    @at-root .is--active &__list {
      transform: none;
    }
    
    &__list {
      width: 70vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      transform: translateX(-150%);
      background: $accent-opacity-color;
      @include padding(20px);
    }

    &__item {
      border-bottom: 1px solid $black;
    }
  }
  
  @include desktop {
    background: $brown;
    
    @at-root .menu__list {
      color: $white;
      font-size: rem(18px);
      font-weight: 700;
      @include containerMax();
      @include paddingX(16px);
      @include paddingY(24px);
      @include autoMargin();
      @include flexbox($justify: space-between);
    }
  }

  &__link {
    display: block;
    @include padding(16px);
  }
}